@import url("./fonts/Inter.css");
@import url("./reset.css");
@import url("./colors.css");
@import url("./variables.css");

body {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  height: 100dvh;
  width: 100%;
  background-color: var(--background-color);
}

.animated-color {
  transition-duration: var(--animation-time);
  transition-property: color, background-color, border-color, opacity;
}

.animated-movements {
  transition-duration: var(--animation-time);
  transition-property: transform;
}
